<% if @team.errors.any?%>
  <%@team.errors.full_message.each do |mess|%>
    <li style="color: red"><%= mess%></li>
  <%end%>
<%end%>

<div class ="card border-info" style="max-width: 50rem;">
  <h2 class="card-title bg-success text-center">Start Team<%=%></h2>
  <div class= "card-body">

<%= form_with url: new_team_path do |f| %>

<%= f.label :name%><br/>
<%= f.text_field :name %><br/>
 
<br/>

  <div class="bg-success border-success"><h5> Add A Project</h5></div>

<%= fields_for @projects do |project_f| %>
    <%=project_f.label :title%><br/>
    <%= project_f.text_field :title %><br />
    <%=project_f.label :goal%><br/>
    <%= project_f.text_area :goal %><br />
  
<% end %>
<%= f.submit %>
<% end %>
 </div>
  </div>