<h3> Edit A Task with <%= @team.name %> for <%= @project.name %> Project </h3>



<%= form_for(@task) do |f| %>
  Title: <%= f.text_field :title %><br />
  Start date : <%= f.date_select :start %><br />
  Deadline : <%= f.date_select :deadline %><br />
  Instructions  : <%= f.text_area :instructions %><br />
  <%= f.submit %>
<% end %>