
<%# Title Section %>
<h1>Hello <%= current_user.username%></h1>

<br/>
<br/>

<div class="card-deck">

 <div class ="card bg-info">
<h2 class="card-title text-center">My Teams</h2>
 </div>

  <div class ="card bg-success">
  <h2 class="card-title text-center">My Projects</h2>
 </div>

   <div class ="card bg-warning">
  <h2 class="card-title text-center">My Tasks</h2>
 </div>
 </div>



<div class="card-deck">
<%# Team Card %>
 <div class ="card border-info mb-3">
     <% if current_user.teams.empty?%>
      <div class="card-header text-center"> No Teams Yet </div>
      <div class="card-body"> <%= link_to '<button type="button">Start a New Team</button>'.html_safe, new_team_path %></div>

     <%else%>
 <% current_user.teams.uniq.each do |team| %>
  <div class="card-header border-info">
    <ul class="nav nav-pills card-header-pills">
    
      <li class="nav-item">
      <h3 class="card-title">Team: <%= team.name %></h3>
        
  </div>
  <div class="card-body">
    <%= link_to '<button type="button">Edit</button>'.html_safe, edit_team_path(team) %>
   
    <%= link_to '<button type="button">Delete Team</button>'.html_safe, team, method: :delete, data: { confirm: 'Are you sure?' }%></div>
    <% end %>
  <% end %>
</div>
