<h3>Project Form</h3>

<%= form_for :@project do |project| %>
  <label>Project title:</label><br>
  <%= project.text_field :title %><br>

  <label>Project Goal</label><br>
  <%= project.text_area :goal %><br>

<%# dropdown box for change team %>

<%= button_to "Delete Project", project_path(@project), method: :delete %> 


  <%= f.submit %>
<% end %> 