<h3> Edit Project <%=@project.title%></h3>
 <h4>Current Goal: <%=@project.goal%></h4>
 <br/>
 <br/>


<%= form_with url: edit_project_path(@project) do |project_f| %>
  <%= project_f.label :title %>
  <%= project_f.text_field :title %><br />
  <%= project_f.label :goal %>
  <%= project_f.text_area :goal %><br />
  
<% end %>
<%= f.submit %>
<% end %>